* {
	box-sizing: border-box !important;
}

input,
select,
textarea {
	-webkit-appearance: none !important;
}

html {
	font-family: Mako;
}

html,
body,
.wrapper {
	height: 100%;
}

#map {
	height: calc(100% - 66px);
}

$colorSand: #eabd8d;
$colorBrown: #584738;
$colorLightBrown: #cc9c71;
$colorCream: #ffdfb8;