.menu-wrapper {
	position: absolute;
	right: -358px;
	top: 10%;
	width: 400px;

	&.open {
		right: 0;
	}

	@media (max-width: 767px) {
		width: 100%;
		right: inherit;
		left: 0;
		top: -265px;

		&.open {
			top: 0;
		}
	}
	
	.menu-toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 32px;
		width: 42px;
		height: 42px;
		margin-bottom: -42px;
		border-radius: 4px 0 0 4px;
		border: 1px solid $colorBrown;
		border-right: 0;
		background: $colorSand;
		cursor: pointer;
		
		i {
			font-size: 20px;
		}

		@media (max-width: 767px) {
			position: absolute;
			top: initial;
			bottom: 0;
			right: 42px;
			border-radius: 0 0 4px 4px;
			border-top: 0;
			border-right: 1px solid #584738;
		}
	}
	
	.locations-menu {
		position: relative;
		top: 0;
		left: 42px;
		width: calc(100% - 42px);
		border: 1px solid $colorBrown;
		border-right: 0;
		background: $colorSand;
		color: $colorBrown;

		@media (max-width: 767px) {
			width: 100%;
			left: 0;
		}
		
		form {
			height: 53px;
			width: 100%;
			border-bottom: 1px solid $colorBrown;
			position: relative;

			input {
				float: left;
				width: 100%;
				height: 52px;
				background: $colorCream;
				padding: 0 62px 0 20px;
				border: 0;
				font-size: 16px;
				color: #000;

				&::-webkit-input-placeholder {
					color: $colorLightBrown;
				}

				&:-moz-placeholder {
					color: $colorLightBrown;
				}

				&::-moz-placeholder {
					color: $colorLightBrown;
				}

				&:-ms-input-placeholder {
					color: $colorLightBrown;
				}

				&:focus {
					outline: none;
					box-shadow: none;

					+ i {
						color: $colorBrown;
					}
				}
			}

			i {
				font-size: 18px;
				color: $colorLightBrown;
				position: absolute;
				right: 22px;
				top: 16px;
			}
		}
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			max-height: 210px;
			overflow-y: scroll;
			
			li {
				position: relative;
				height: 42px;
				line-height: 42px;
				border-bottom: 1px solid $colorLightBrown;
				font-size: 14px;
				padding: 0 20px;
				cursor: pointer;
				
				&:last-child {
					border-bottom: 0;
				}
				
				i {
					position: absolute;
					right: 15px;
					top: 12px;
					font-size: 18px;
				}
			}
		}
		
		.no-results {
			height: 104px;
			line-height: 104px;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			font-style: italic;
			font-size: 12px;
		}
	}
}